.character{
  width: 100px;
  height: 38px;
  position:absolute;
  bottom: 20%;
  left: 10%;
  background-image: url('Sky.png');
  background-size: contain;
}

.jump{
  animation: jump 1000ms forwards;
}

.bg{
  background-image: url(background.png);
  background-size: auto 100vh;
}


@keyframes  jump {
    50%{
      bottom: 60%;
    }
    100%{
      bottom: 20%;
      transform: rotate(-360deg);
    }
}
